.bio {
    display: flex;
    justify-content: center;
    background-color: white;
}

.bio__elements {
    width: 100%;
    margin: 30px;
    gap: 20px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 350px;
    justify-content: center;
}

.bio__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 3px solid steelblue;
    transition: 1s;
    padding: 10px;
    position: relative;

    transform-style: preserve-3d;
}

.bio__item:hover {
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.bio__item-front,
.bio__item-back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bio__item-front {
    transform: translateZ(100px) ;
}

.bio__item-back {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(.5turn);
}

.bio__item-letter {
    margin: 0;
    padding: 0;
    font-size: 300px;
    font-weight: 400;
    text-transform: uppercase;
}

.bio__item-letter_type_lowercase {
    text-transform: lowercase;
    font-size: 72px;
}

.bio__item-letter_type_overflow {
    font-size: 72px;
    font-style: italic;
    /* margin-left: 100%; */
}

.bio__item-icon {
    width: 50px;
    height: 50px;
    pointer-events: none;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 1s ease;
}

.bio__item-text {
    visibility: hidden;
    opacity: 0;
    width: 90%;
    height: max-content;
    padding: 0;
    text-align: center;
    transition: 1s;
    pointer-events: none;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.bio__item-clickIcon {
    visibility: visible;
    opacity: 1;
    height: 50px;
    width: 32px;
    border-radius: 15px;
    background-image: url(../images/click-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s;

    position: absolute;
    bottom: 25px;
    right: 0;
    left: 0;
    margin: auto;
}

.bio__link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio__link {
    text-decoration: none;
    color: black;
    font-size: 42px;

    position: relative;
}

.bio__link::after {
    content: '\2193';
    text-align: center;
   
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 100%;
}

/* @media screen and (min-width: 1390px) {
    .bio__link-container {
        grid-column-end: span 5;
    }
} */