.intro {
    height: calc(100vh - 58.4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__greeting {
    white-space: pre-line;
    width: max-content;
    line-height: 100%;
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.intro__span {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-size: 70px;
    font-weight: 400;
}

.intro__link {
    font-weight: 300;
    width: min-content;
    color: aliceblue;
    font-size: 50px;
    text-decoration: none;
    margin-top: 50px;
}

.intro__link:hover {
    opacity: .7;
}